/*
  Colour Palette
  - Purple: #610B38 - rgb(121,50,132)
  - Dark Purple: #3B0B24 - rgb(59,11,36)
*/
header {
	background: #FFF;
	color: #000;
}

.logo {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.nav {
	overflow: hidden;
}

.nav a, 
.nav a:link,
.nav a:visited {
	display: block;
	padding: 1rem;
	text-align:center;
	color: #fff;
	text-decoration: none;
	background-color: #610B38;
	border-top: 1px solid #fff;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #3B0B24;
}

.search {
    border:none;}

.search input {
  	border-radius: 7px;
  	border: 1px solid #CCCCCC;
  	padding: 8px;
  	width: 285px;
  	margin:5px;
}

.nav .current, .nav .current:link, .nav .current:visited {
	background-color: #3B0B24;
}

.banner {
	background: #610B38 url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}

.aboutBanner {
	background-image: url("../images/banner2.jpg");
}

@media only screen and (min-width: 38em) {
	.logo {
		width: 200px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	.nav{
	    width:100%;
	    height:45px;
	    background:#fff; 
	    box-shadow:0 0 8px #666;
	}

	.nav ul{
		list-style: none;
	}
	
	.nav ul li{
		float: left;
		margin: 13px 22px;
	}

	.nav div{
		float: right;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		display: block;
		padding: 0;
		text-align:center;
		color: #000;
		text-decoration: none;
		background-color: #FFF;
		border: none;
	}

	.nav a:hover,
	.nav a:focus,
	.nav a:active {
		color: #3B0B24;
	}

	.current{
		background-color: #3B0B24;
}

	input {
		margin-top: 1.2rem;
	}

	.search {
    	float:right;
    	border:none;}

  	.search input {
  		border-radius: 7px;
  		border: 1px solid #CCCCCC;
  		float: left;
  		padding: 8px;
  		width: 200px;
  		margin:5px;
  }

}
