# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Julie Abalos
- Audra Thompson
- Roxana Filip
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. Tell me something about our wines
2. Find Sauvignon Blanc on the site
3. Find what's in your cart

---

## Individual Results & Observations

### Julie Abalos

- Tabbed to about then hit enter
- Tabbed over to wines then tabbed to find wine
- Tabbed over to cart then enter

### Audra Thompson

- Tabbed to about then hit enter
- Tabbed over to wines then tabbed to find wine
- Tabbed over to cart then enter

### Roxana Filip

- Tabbed to about then hit enter
- Tabbed over to wines then tabbed to find wine
- Tabbed over to cart then enter

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Still need to fix broken links

### Serious, Causes Frustration, May Hinder Completion

- Nothing much, they knew theit task and preformed it easily

### Minor, Annoying, Won’t Hinder Completion

- Most of them didn't know that Shift Tab goes back