---
layout: default
titleAfter: Home of great tasting wines.
meta: Try out our great tasting wine at an affordable price.
showbanner: yes
---
<div class="grid">
 <div class="grid">
	<div class="unit unit-s-1 unit-m-1 unit-l-1-2">
  	<p>Focusing on varietal wines made from Pinot Blanc, Pinot Gris, Sauvignon Blanc, Chardonnay, Gamay Noir, and Pinot Noir, Muraaki Wines strives to produce complex, age-worthy wines, consistent in style while allowing the expression of both the terroir and the individual growing season.</p>
	</div>
</div>

<div class="grid">
	<div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
		{% include promo-large.html title="Promo" desc="Wines!!" %}
	</div>
</div>

<div class="grid">
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Wines!!" %}
	</div>
	
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 2" desc="Wines!" %}
	</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 3" desc="Wines!" %}
	</div>
</div>