# User Testing Report

User testing was conducted by Jam Abalos on April 3, 2014 between the times of 1:00pm and 7:00pm with the following participants:

- Julie Abalos
- Audra Thompson
- Roxana Filip

## Tasks

1. Tell me something about our wines
2. Find Sauvignon Blanc on the site
3. Find what's in your cart

---

## Individual Results & Observations

### Julie Abalos

- Looked at the home page first then went to nav and clicked about
- Scrolled down to look at the small promos then scrolled up and clicked wines then scrolled to find it
- Just clicked on the cart on the nav

### Audra Thompson

- Just clicked to the about page
- Just clicked wines page and found it
- Just clicked on the cart on the nav

### Roxana Filip

- Just clicked the about page
- Scrolled at the small promos back to nav, wines then found it
- Just clicked on the cart on the nav

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No one used the search bar
- Buy now did not link to the cart page

### Serious, Causes Frustration, May Hinder Completion

- Just needs some minor visual adjustments

### Minor, Annoying, Won’t Hinder Completion

- Some images are really big